﻿body {
    background-color:whitesmoke
}
body { padding-bottom: 70px; }


.text-red-uba {
  background-color: #d61a0c !important;
}

.caisse-widget{
    padding:10px;
    background-color:rgba(245, 245, 245, 0.30);    
}

.text-danger {
    font-size: small;
}

.btn-red-uba {
  background: #d61a0c; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #5a95f5 !important; }
  .btn-primary.active {
    background-color: #0b51c5 !important; }
