﻿@using MoovMoney.Models
@using MoovMoney.ViewModels
@model System.Collections.Generic.List<Transaction>

@{
    ViewBag.Title = "Liste des opérations";
}





<hr class="mt-2 mb-2">
@using (Html.BeginForm())
{
    <div class="row">
        <div class="pull-right">
            <a id="btn" href="@Url.Action("ExportToExcel")" class="btn btn-danger btn-red-uba">Exporter en Excel</a>
        </div>
    </div>

}
<br />
<div class="row">
    
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel">
            <header class="panel-heading">
                <h4>@ViewBag.title</h4>

                <hr />
            </header>

            <div class="panel-body">
                <div class="card">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <table id="datatable1" class="table " cellspacing="0" width="100%">
                            <thead class="thead-default rgba-red-light">
                                <tr>
                                    <th><b>NOM ET PRENOMS</b></th>
                                    <th><b>N° TELEPHONE</b></th>
                                    <th><b>MONTANT</b></th>
                                    <th><b>DATE DU TRANSFERT</b></th>
                                    <th><b>CAISSIER</b></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var t in Model)
                                {
                                    <tr>
                                        <td>@t.lastname @t.firstname</td>
                                        <td>@t.msisdn</td>
                                        <td>@t.transamount F CFA</td>
                                        <td>@t.timestamp.Date.ToShortDateString() à @t.timestamp.Date.ToShortTimeString()</td>
                                        <td>@t.User.UserName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h4 class="text-center" style="padding:10px">Aucune transaction trouvée</h4>
                    }

                </div>
            </div>

            @section scripts{
                <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
                <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
                <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
                <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $('#datatable1').DataTable();
                    });
                </script>
                <script type="text/javascript">
                    $(function () {
                        $('input[name="daterange"]').daterangepicker();
                    });
                </script>
            }
        </div>

    </div>
</div>


