﻿

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CONFIRMATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h>
                    Êtes-vous sûr de vouloir effectuer cette action?
                </h>
            </div>
            <div class="modal-footer">
                <button id="btn"  class="btn btn-danger btn-red-uba">confirmer</button>
            </div>
        </div>
    </div>

