﻿@using MoovMoney.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    
    <title>@ViewBag.Title </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/material.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    
    @RenderSection("styles", required: false)  

</head>
<body>
    <nav class="navbar  navbar-toggleable-md navbar-inverse bg-faded text-red-uba">
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <strong>MOBILE MONEY</strong>
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "TransactionList")">Opérations</a>
                    </li>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Dashboard", new {area="Admin" })">Administration</a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav">                  
                    <li class="nav-item caisse-widget" style="margin-right:80px">
                        <a class=""><i class="fa fa-money"> </i> <b>  @Common.TotalCalculator.TotalTransactionsOfDay FCFA</b> encaissés aujourd'hui </a>
                    </li>
                    <li class="nav-item dropdown" style="margin-right:80px">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name                
                        </a>
                        
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Changer de mot de passe</a>
                            @Html.ActionLink("Déconnexion", "LogOff", "Account", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                </ul>
            </div>      
    </nav>

    <div style="padding:100px">
        @RenderBody()   
    </div>


    <footer class="fixed-bottom" style="padding:10px; background-color:whitesmoke">
        <div class="text-center">
            © @DateTime.Now.Year Copyright <a style="color:red" href="https://www.ubagroup.com"> UBA BENIN </a>
        </div>
    </footer>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/tether.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    


    @RenderSection("scripts", required: false)
</body>
</html>
