﻿@using MoovMoney.Areas.Admin.ViewModels
@model ReportingViewModel

@{
    ViewBag.Title = "Reporting";
}

<div class="row">
    <h4>Rapports</h4>
</div>
@using (@Html.BeginForm("Index", "Reporting", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <section class="panel" style="width:400px;margin:auto">
        <header class="panel-heading">
        </header>
        <div class="panel-body">
            <div class="form-group">
                @Html.Label("Du", new { @class = "col-lg-2 col-sm-2 control-label" })
                <div class="col-lg-10">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <div class=" xdisplay_inputx form-group has-feedback">
                                    <input type="text" name="StartDate" value="@Model.StartDate" class="form-control has-feedback-left" id="single_cal1" placeholder="First Name" aria-describedby="inputSuccess2Status">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Au", new { @class = "col-lg-2 col-sm-2 control-label" })
                <div class="col-lg-10">
                    <fieldset>
                        <div class="control-group">
                            <div class="controls">
                                <div class=" xdisplay_inputx form-group has-feedback">
                                    <input type="text" name="EndDate" value=@Model.EndDate class="form-control has-feedback-left" id="single_cal2" placeholder="First Name" aria-describedby="inputSuccess2Status">
                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Réseau", new { @class = "col-lg-2 col-sm-2 control-label" })
                <div class="col-lg-10 checkbox">
                    
                    <label >                        
                        @Html.CheckBoxFor(x => x.IsMtn, new { @class = "form-check-input" })
                         MTN MONEY
                    </label>
                    
                    <label style="margin-left:20px">
                        @Html.CheckBoxFor(x => x.IsMoov, new { @class = "form-check-input" })
                         MOOV MONEY
                    </label>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Numero", new { @class = "col-lg-2 col-sm-2 control-label" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(x=>x.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Agence", new { @class = "col-lg-2 col-sm-2 control-label" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(x => x.Agence, Model.Agences, "Choisir une agence", new { @class = "form-control" })                    
                </div>
            </div>

            


            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-danger">Valider</button>
                </div>
            </div>
        </div>
    </section>
    if (Model.Transactions != null && Model.Transactions.Count() > 0)
    {
        <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel">
                <header class="panel-heading">
                    <h4>@Model.Transactions.Count() transaction(s) trouvée(s)</h4>

                    <hr />
                </header>

                <div class="panel-body">
                    <div class="card">
                        <table id="datatable1" class="table " cellspacing="0" width="100%">
                                <thead class="thead-default rgba-red-light">
                                    <tr>
                                        <th><b>NOM ET PRENOMS</b></th>
                                        <th><b>N° TELEPHONE</b></th>
                                        <th><b>MONTANT</b></th>
                                        <th><b>DATE DU TRANSFERT</b></th>
                                        <th><b>CAISSIER</b></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var t in Model.Transactions)
                                    {
                                        <tr>
                                            <td>@t.lastname @t.firstname</td>
                                            <td>@t.msisdn</td>
                                            <td>@t.transamount F CFA</td>
                                            <td>@t.timestamp.ToShortDateString() à @t.timestamp.ToShortTimeString()</td>
                                            <td>@t.User.UserName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>                                                
                    </div>
                </div>

                @section scripts{
                    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
                    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
                    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
                    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

                    <script>
                        $(document).ready(function () {
                            $('#datatable1').DataTable();
                        });
                    </script>                   
                }
            </div>

        </div>
    </div>
    }
    else
    {
        if(Model.IsPost)
        {
            <div class="panel-body">
                <h4 class="text-center" style="padding:10px">Aucune transaction trouvée</h4>
            </div>
        }

    }
}
