﻿

@using MoovMoney.Models
@model LoginViewModel
@{
    ViewBag.Title = "Connexion";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    


</head>
<body>
    
 @using(Html.BeginForm())
 {
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top:50px">
        <div class="col-md-6">

            <div class="card" style="width:500px; margin:auto">
                <div class="card-block">
                    <!--Header-->
                    <div class="text-center">
                        <h3> Connectez-vous</h3>
                        <hr class="mt-2 mb-2">
                        @Html.ValidationSummary(true, "", new {@class="text-danger" })
                    </div>
                    <!--Body-->
                    <div class="md-form">
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Adresse email" })
                    </div>

                    <div class="md-form">
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mot de passe" })
                    </div>
                    <div class="text-center">
                        <button class="btn btn-red-uba">Connexion</button>
                    </div>
                    <div class="text-center" style="margin-top:40px">
                        <p>Copyright &copy UBA BENIN, 2017</p>                  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                <h4>TRANSFERT MOBILE MONEY</h4>
                
                <hr />
                <div>
                    <p>
                        Cette plateforme vous permet de faire un dépot sur le compte MOBILE MONEY d'un marchand. Si vous êtes nouveau
                        veuillez <a href="@Url.Action("Register","Account")"><b>créer un compte </b></a> caissier ici.
                    </p>
                    
                </div>
            </section>
        </div>
        </div>
}
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
    
          
</body>
</html>


    
