﻿@using MoovMoney.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row" style="margin-top:50px">
            <div class="col-md-6">

                <div class="card" style="width:500px; margin:auto">
                    <div class="card-block">
                        <!--Header-->
                        <div class="text-center">
                            <h3> Créez un compte</h3>
                            <hr class="mt-2 mb-2">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                        <!--Body-->
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.Nom, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.Nom, new { @class = "form-control", @placeholder = "Votre nom" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.Prenoms, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.Prenoms, new { @class = "form-control", @placeholder = "Votre prénom" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Adresse email" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.Matricule, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.Matricule, new { @class = "form-control", @placeholder = "Votre matricule" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Votre numero de téléphone" })
                        </div>
                        
                        <div class="md-form">
                            @Html.DropDownListFor(x => x.Agence, Model.Agences, "Choisir votre agence", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Agence, "", new { @class = "text-danger" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.AccountNumber, "", new { @class = "text-danger" })
                            @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control", @placeholder = "Votre numero de compte caissier" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Votre mot de passe" })
                        </div>
                        <div class="md-form">
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmez votre mot de passe" })
                        </div>

                        <div class="text-center">
                            <button class="btn btn-red-uba">Valider</button>
                        </div>
                        <div class="text-center" style="margin-top:40px">
                            <p>Copyright &copy UBA BENIN, 2017</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    <h4>TRANSFERT MOBILE MONEY</h4>

                    <hr />
                    <div>
                        <p>
                            Cette plateforme vous permet de faire un dépot sur le compte MOBILE MONEY d'un abonné. Si vous êtes déja 
                            inscrits <a href="@Url.Action("Login","Account")"><b>connectez-vous</b></a> ici.
                        </p>

                    </div>
                </section>
            </div>
        </div>
    }


</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
