﻿@model MoovMoney.ViewModels.AddOperationVM
@{
    ViewBag.Title = "MOBILE MONEY";
}


    

 @if ((bool?)TempData["TransfertDone"] == true)
 {
    <div class="alert alert-success alert-dismissible " style="width:500px; margin:auto" role="alert">
        <div style="margin-bottom:10px; color:white" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong >Transfert</strong> effectué avec succès.
        </div>        
    </div>
    <br /><br />
 }    


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
        <div class="card" style="width:500px; margin:auto">
            <div class="card-block">
                <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-lock"></i> Informations</h3>
                    <hr >
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <!--Body-->
                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.Nom, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.Nom, new { @class = "form-control", @placeholder = "Nom du client" })
                </div>

                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.Prenoms, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.Prenoms, new { @class = "form-control", @placeholder = "Prénoms du client" })
                </div>
                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.Numero, "", new { @class = "text-danger" })
                    <div class="input-group" >
                        <span id="addon2" class="input-group-addon">+229</span>
                        @Html.TextBoxFor(x => x.Numero, new { @class = "form-control", @placeholder = "Numero de téléphone", @aria_describedby = "addon2" })
                    </div>
                </div>
     
                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.NumeroConfirm, "", new { @class = "text-danger" })
                    <div class="input-group" >
                        <span id="addon2" class="input-group-addon">+229</span>
                        @Html.TextBoxFor(x => x.NumeroConfirm, new { @class = "form-control", @aria_describedby = "addon2", @placeholder = "Confirmation du numero de téléphone" })
                    </div>
                </div>
                
                
                <div class="form-group">
                    @Html.ValidationMessageFor(x => x.Montant, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(x => x.Montant, new { @class = "form-control", @placeholder = "Montant (CFA)" })
                </div>
            </div>
                       
            <!--Footer-->
            <div class="text-center" style="margin-bottom:20px">
                <button type="button" onclick="OpenDialog()" id="btn" class="btn btn-danger btn-red-uba">Valider</button>                
            </div>
            
           
        </div>
    <div class="modal fade show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        @Html.Partial("_ConfirmPartial")
    </div>
}



@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    
    
    <script>
        var OpenDialog=function()
        {
            $('#myModal').modal('show');
        }
    </script>
    
    
}



      
   
