﻿@using MoovMoney.Models
@model MoovMoney.Areas.Admin.ViewModels.AgenceViewModel

@{
    ViewBag.Title = "Agences";
    int count = 0;
}

<div class="row">

    <div class="col-lg-6 col-md-6 col-sm-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Agence</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.AgenceName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.AgenceName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AgenceName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div >
                        <input type="submit" value="Ajouter" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

<br />  <br />  

        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="panel">
                    <header class="panel-heading">
                        <h4>@ViewBag.title</h4>

                        <hr />
                    </header>

                    <div class="panel-body">
                        <div class="card">
                            @if (Model != null && Model.Agences.Count() > 0)
                            {
                                <table id="table" class="table " cellspacing="0" width="100%">
                                    <thead class="thead-default rgba-red-light">
                                        <tr>
                                            <th><b>#</b></th>
                                            <th><b>NOM</b></th>
                                            <th><b>ACTIONS</b></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var ag in Model.Agences)
                                        {
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>@ag.Nom</td>
                                                <td>
                                                    <a onclick="javascript: location.href = '@Url.Action("DeleteAgence", "Settings", new { area = "Admin", id = @ag.Id })'"  class="btn btn-default btn-xs"><i class="fa fa-trash"></i> </a>
                                                </td>
                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <h4 class="text-center" style="padding:10px">Aucune agence</h4>
                            }

                        </div>
                    </div>


                </div>

            </div>
        </div>



        @section scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
