﻿@model MoovMoney.Areas.Admin.ViewModels.PrefixeViewModel

@{
    ViewBag.Title = "Prefixes";
}

@section styles {
<link href="~/Areas/Admin/Content/gentella/vendors/jquery.tagsinput/src/jquery.tagsinput.css" rel="stylesheet" />
    
}
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Liste des préfixes</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Préfixes MOOV", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 control-group">               
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input id="tags_3" type="text" class="tags form-control" name="MoovPrefixestring" value="@Model.MoovPrefixestring" />
                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Préfixes MTN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 control-group">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input id="tags_2" type="text"  class="tags form-control" name="MtnPrefixestring" value="@Model.MtnPrefixestring" />
                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valider" class="btn btn-default" />
            </div>
        </div>
    </div>
}



@section scripts {
    
<script src="~/Areas/Admin/Content/gentella/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).load(new function () {
            $('#tags_2').tagsInput({
                width: 'auto',
                defaultText:"Préfixe"
            });
            $('#tags_3').tagsInput({
                width: 'auto',
                defaultText: "Préfixe"
            });
        })
        
    </script>
}
