﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOBILE MONEY | @ViewBag.Title </title>
    <!-- Bootstrap -->
    <link href="~/Areas/Admin/Content/gentella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Areas/Admin/Content/gentella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Areas/Admin/Content/gentella/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Areas/Admin/Content/gentella/vendors/iCheck/skins/flat/red.css" rel="stylesheet" />

    <!-- bootstrap-progressbar -->
    <link href="~/Areas/Admin/Content/gentella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <!-- JQVMap -->
    <link href="~/Areas/Admin/Content/gentella/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Areas/Admin/Content/gentella/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Areas/Admin/Content/gentella/custom.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;background:#d61a0c">
                        <a href="#" class="site_title"><i class="fa fa-money"></i> <span>MOBILE MONEY</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Areas/Admin/Content/Images/profil.png" alt="..." class="img-circle profile_img" />
                        </div>
                        <div class="profile_info">
                            <span>
                                @if(User.IsInRole("ADMIN"))
                                {
                                    @:Administrateur
                                }
                                else if (User.IsInRole("AUDITEUR"))
                                { 
                                    @:Auditeur                                    
                                }
                                
                            </span>
                            <h2>@User.Identity.Name</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" >
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Dashboard", null)"><i class="fa fa-home"></i> Dashboard </a>                              
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Utilisateurs <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", "Users", new {role=MoovMoney.Models.RoleConstant.CAISSIER })">Caissiers</a></li>
                                        <li><a href="@Url.Action("Index", "Users", new { role = MoovMoney.Models.RoleConstant.AUDITEUR })">Auditeurs</a></li>
                                        <li><a href="@Url.Action("Index", "Users", new { role = MoovMoney.Models.RoleConstant.ADMIN })">Administrateurs</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Transaction", null)"><i class="fa fa-edit"></i> Liste des transferts </a>   
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Reporting", null)"><i class="fa fa-dashboard"></i> Reporting </a>
                                </li>
                                
                            </ul>
                        </div>
                        @if (User.IsInRole("ADMIN"))
                        {
                            <div class="menu_section">
                                <h3>Configuration</h3>
                                <ul class="nav side-menu">
                                    <li>
                                        <a><i class="fa fa-android"></i> Paramètres <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="@Url.Action("Agences", "Settings", null)">Agences de la banque</a></li>
                                            <li><a href="@Url.Action("Prefixes", "Settings", null)">Préfixes réseaux</a></li>
                                            <li><a href="#">Logs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        }
                        
                       
                    </div>
                    <!-- /sidebar menu -->
                    
                </div>
            </div>



            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Areas/Admin/Content/Images/profil.png" alt="">@User.Identity.Name
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profil</a></li>                                  
                                    <li><a href="@Url.Action("LogOff", "Account", new {area="" })"><i class="fa fa-sign-out pull-right"></i> Déconnexion</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>                           
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->



            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>

                <!-- /page content -->
                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        MOBILE MONEY - UBA BENIN @DateTime.Now.Year
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
    </div>


    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/gentella/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Areas/Admin/Content/gentella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    

    <!-- FastClick -->
    <script src="~/Areas/Admin/Content/gentella/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Areas/Admin/Content/gentella/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/Areas/Admin/Content/gentella/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/Areas/Admin/Content/gentella/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Areas/Admin/Content/gentella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Areas/Admin/Content/gentella/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Areas/Admin/Content/gentella/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Areas/Admin/Content/gentella/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/Flot/jquery.flot.resize.js"></script>
    
    <!-- Flot plugins -->
    <script src="~/Areas/Admin/Content/gentella/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/flot.curvedlines/curvedLines.js"></script>
    
    <!-- DateJS -->
    <script src="~/Areas/Admin/Content/gentella/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap 
    <script src="../vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="../vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->

    <!-- bootstrap-daterangepicker -->
    <script src="~/Areas/Admin/Content/gentella/vendors/moment/moment.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    


    <!-- Custom Theme Scripts -->
    <script src="~/Areas/Admin/Content/gentella/custom.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
