﻿@using MoovMoney.Models
@model List<ApplicationUser>
@{
    int count = 1;
}

                @foreach (var user in Model)
                {
                    <tr>
                        <td>@count</td>
                        <td>@user.Nom @user.Prenoms</td>
                        <td>@user.Matricule</td>
                        <td>@user.Email</td>
                        <td>@user.UserAgence.Nom</td>
                        <td>@user.AccountNumber</td>
                        <td>@user.TempPassword</td>
                        <td>@(user.DateAjout!=null? user.DateAjout.Value.ToShortDateString():"")</td>
                        <td>
                            <div class="pull-right">
                                <a href="@Url.Action("Edit", "Users", new { area = "Admin", matricule = @user.Matricule })" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> </a>
                                <a href="@Url.Action("Delete", "Users", new { area = "Admin", matricule = @user.Matricule })" class="btn btn-default btn-xs"><i class="fa fa-times"></i> </a>
                            
                            </div>
                        </td>
                        <td>
                            @if (user.IsValidated)
                            {
                                <a href="@Url.Action("EnableDisableAccount", "Users", new { area = "Admin", email = @user.Email })" class="btn btn-danger btn-xs"> Désactiver</a>
                            }
                            else
                            {
                                <a href="@Url.Action("EnableDisableAccount", "Users", new { area = "Admin", email = @user.Email })" class="btn btn-success btn-xs">Activer</a>
                            }
                        </td>

                    </tr>
                    count++;
                }
             
 