﻿@using MoovMoney.Models
@using MoovMoney.ViewModels
@model TransactionListVM

@{
    ViewBag.Title = "Index";
}

@section styles{
    
<link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
}


<h4>Liste des transactions</h4>

<hr class="mt-2 mb-2">
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="btn-group">
                <button class="btn btn-outline-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@ViewBag.FilterTitle</button>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("Index", "TransactionList")">Aujourd'hui</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "TransactionList", new {filter=TransactionFilters.THIS_WEEK })">Cette semaine</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "TransactionList", new {filter=TransactionFilters.THIS_MONTH })">Ce mois</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="md-form input-group">
                <input name="PhoneNumber" value="@Model.PhoneNumber" style="margin-top:4px" type="search" class="form-control input-alternate" placeholder="Rechercher un numero">
                <span class="input-group-btn">
                    <button  value="phone" class="btn btn-outline-danger btn-sm" type="submit">Go!</button>
                </span>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 text-right">
            <a id="btn" href="@Url.Action("ExportToExcel")" class="btn btn-danger btn-red-uba">Exporter en Excel</a>
        </div>

    </div>
}

<div class="card">
    @if (Model.Transactions != null && Model.Transactions.Count() > 0)
    {
        <table id="example" class="table " cellspacing="0" width="100%">
            <thead class="thead-default rgba-red-light">
                <tr>
                    <th><b>NOM ET PRENOMS</b></th>
                    <th><b>N° TELEPHONE</b></th>
                    <th><b>MONTANT</b></th>
                    <th><b>DATE DU TRANSFERT</b></th>
                </tr>
            </thead>

            <tbody>
                  @foreach (var t in Model.Transactions)
                  {
                        <tr>
                            <td>@t.lastname @t.firstname</td>
                            <td>@t.msisdn</td>
                            <td>@t.transamount F CFA</td>
                            <td>@t.timestamp.ToShortDateString() à @t.timestamp.ToShortTimeString()</td>
                        </tr>
                  }              
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-center" style="padding:10px">Aucune transaction trouvée</h4>
    }
    
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")    
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#examplee').DataTable();
        });
    </script>

}


