﻿@using MoovMoney.Areas.Admin.ViewModels
@model DashbordViewModel
@{
    ViewBag.Title = "Dashboard";
}



    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Nombre de caissiers</span>
            <div  class="count">@Model.CaissierCount</div>
            <span class="count_bottom"> au total</span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-money"></i> MOOV MONEY</span>
            <div class="count red">@Model.MoovBalanceOfDay <i class="count red"> F</i></div>
            <span class="count_bottom"><i>Aujourd'hui</i> </span>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-money"></i> MTN MONEY</span>
            <div class="count red">@Model.MtnBalanceOfDay <i class="count red"> F</i></div>
            <span class="count_bottom"><i>Aujourd'hui</i> </span>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-retweet"></i> Nombre de dépot</span>
            <div class="count">@Model.OperationOfWeekCount</div>
            <span class="count_bottom"><i>cette semaine</i> </span>
        </div>
       
        <div class="col-md-2 col-sm-2 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> Nombre de grossistes</span>
            <div class="count">@Model.TotalMerchent</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>@Model.TotalMerchentThisWeek </i> nouveaux cette semaine</span>
        </div>       
    </div>
    <div class="row">
        <a href="@Url.Action("GetDailyReport","Reporting")" class="btn btn-danger btn-red-uba">Rapport journalier</a>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Bilan annuel <small>Montant total sur l'année</small></h4>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" style="height:300px">
                    <canvas id="mybarChart1"></canvas>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Activités récentes <small>transferts</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    @if (Model.RecentTransactions != null && Model.RecentTransactions.Count > 0)
                    {
                        <ul class="list-unstyled timeline widget">
                            @foreach (var tr in Model.RecentTransactions)
                            {
                                <li>
                                    <div class="block">
                                        <div class="block_content">
                                            <h2 class="title">
                                                <a>@tr.timestamp.ToLongDateString()</a>
                                            </h2>
                                            <div class="byline">
                                                <span>@tr.timestamp.ToShortTimeString()</span> par <a class="green">@tr.User.UserName</a>
                                            </div>
                                            <p class="excerpt">
                                                Un transfert de <b class="">@(MoovMoney.Helpers.PriceFormater.Format(tr.transamount)) F CFA </b>a été effectué sur le compte MOOV MONEY de <i>@tr.lastname @tr.secondname </i> sur le numero <i>@tr.msisdn</i>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h4>Aucune récente transaction</h4>
                    }

                </div>
            </div>
        </div>
    </div>
   
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Agences  <small>chiffres cette année</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="dashboard-widget-content">
                    <div class="col-md-12 hidden-small">

                        <table class="countries_list">
                            <tbody>
                                @if (Model.AgenceTransactions != null && Model.AgenceTransactions.Count > 0)
                                {
                                    foreach (var ag in Model.AgenceTransactions)
                                    {
                                        <tr>
                                            <td>@ag.AgenceName</td>
                                            <td class="fs15 fw700 text-right">@ag.TotalAmount F CFA</td>
                                        </tr>
                                    }
                                }
                                else
                                {

                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>


        @section scripts{
            <script src="~/Areas/Admin/Scripts/mybarchart.js"></script>
            <script>
                $(document).ready(function() {

                    LoadChart(@Model.TransactionOfYearJson.MoovData,@Model.TransactionOfYearJson.MtnData);
                })
            </script>
        }
