﻿@using MoovMoney.Areas.Admin.ViewModels
@model AddUserViewModel

@{
    ViewBag.Title = "Ajouter un utilisateur";
}


@using (Html.BeginForm("Add", "Users", FormMethod.Post, new { @class = "form-horizontal", @role="form" }))
{
    <div class="col-lg-8">
        @if ((bool?)ViewBag.CantAddUser==true)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(true)
            </div>
        }        
        
        
        <section class="panel">
            <header class="panel-heading">
                Ajouter un utilisateur
            </header>
            <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nom, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Nom, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Nom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Prenoms, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Prenoms, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Prenoms, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Email, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Matricule, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Matricule, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Matricule, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.PhoneNumber, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                
                <div class="form-group">
                    @Html.LabelFor(x => x.Agence, new { @class = "col-lg-2 col-sm-2 control-label" })
                    <div class="col-lg-10">
                        @Html.DropDownListFor(x => x.Agence, Model.Agences,"Choisir votre agence", new {@class="form-control" })
                        @Html.ValidationMessageFor(x => x.Agence, "", new { @class = "text-danger" })
                    </div>
                </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AccountNumber, new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.AccountNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AccountNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Role", new { @class = "col-lg-2 col-sm-2 control-label" })
                        <div class="col-lg-10">
                            <select id="role" name="role" class="form-control">
                                <option value="@MoovMoney.Models.RoleConstant.CAISSIER">Caissier</option>
                                <option value="@MoovMoney.Models.RoleConstant.AUDITEUR">Auditeur</option>
                                <option value="@MoovMoney.Models.RoleConstant.ADMIN">Administrateur</option>
                            </select>
                        </div>
                        
                    </div>
                    

                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-danger">Valider</button>
                        </div>
                    </div>
            </div>
        </section>
        @section scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
        </div>

}





