﻿@using MoovMoney.Models
@model List<ApplicationUser>
@{
    ViewBag.Title = "Liste des caissiers"; 
}
    <div class="form-group col-lg-8">
        @Html.ActionLink("Ajouter un utilisateur", "Add", "Users",null, new { @class = "btn btn-primary col-lg-3" })      

        @Html.ActionLink("Importer depuis Excel", "Add", "Users",null, new { @class = "btn btn-default col-lg-3" })
    </div>
<br /> <br />


<div class="panel">
    <header class="panel-heading">
        Liste des utilisateurs
    </header>
    <div class="panel-body">
        <table id="datatable" class="table table-bordered">
            <thead>
                <tr>
                    <th><b>N°</b></th>
                    <th><b>NOM ET PRENOMS</b></th>
                    <th><b>MATRICULE</b></th>
                    <th><b>EMAIL</b></th>
                    <th><b>AGENCE</b></th>
                    <th><b>N° DE COMPTE</b></th>
                    <th><b>PASSWORD TEMPORAIRE</b></th>
                    <th><b>DATE D'AJOUT</b></th>
                    <th><b>ACTIONS</b></th>
                    <th><b>STATUS DU COMPTE</b></th>
                </tr>
            </thead>
           
            <tbody>
                @Html.Partial("_UserListPartial", Model)
            </tbody>
        </table>
    </div><!-- /.panel-body -->
    </div><!-- /.panel -->
@section scripts{
    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Areas/Admin/Content/gentella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>

   }





   

